.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.screen-container {
  background-color: #ffffff;
  height: 75vh;
  width: 75vw;
  display: flex;
  justify-content: center;
}

.game-container {
  background-color: #ffffff;
  height: 75vh;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-left {
  height: 100%;
  width: 15vw;
}

.game-middle {
  height: 100%;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-right {
  height: 100%;
  width: 15vw;
}

.player-action {
  width: 50%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.player-container {
  background-color:#c21212;
  height: 20vh;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
}

.card-container {
  display: flex;

}

.playingfield-container{
  background-color:#1667e063;
  height: 20vh;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.opponent-container {
  background-color:#12c247;
  height: 20vh;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.opponent-container-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}

.opponent-container-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card{
  width: 90px;
  height: 140px;
  margin-right:-60px;
}

.side-card{

}

.computer-side{
  width: 75px;
  height: 115px;
  margin-bottom: -100px;
  transform: rotate(90deg) translateY(-1vh)
}

.computer-top{
  width: 90px;
  height: 140px;
  margin-right:-60px;
}

.selectedcard{
  width: 90px;
  height: 140px;
  margin-right:-55px;
  margin-bottom: 30px;
  border: solid 2px white;
  border-radius: 10px;

}

.card:hover{
    margin-bottom: 20px
}

@media (max-width: 1200px){
  .card{
    width: 75px;
    height: 115px;
    margin-right:-50px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
